<%!
  import json
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
  from django.conf import settings
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>
<%block name="bodyclass">view-external-catalog</%block>

<script type="application/javascript">
    window.COURSE_CATEGORIES = ${dict(settings.COURSE_CATEGORIES) | n, dump_js_escaped_json};
</script>
<main id="main" aria-label="Content" tabindex="-1">



    <!--<section class="find-courses">
      <section class="banner">
        <section class="welcome-wrapper">
          <h2>${_("Explore Courses")}</h2>
        </section>
      </section>

    </section>-->
</main>

${static.renderReact(
      component="CrehanaCatalogCourses",
      id="main", props={
        'language': user_language,
        'external_catalogs':external_catalogs,
        'crehana_url': reverse('crehana_catalog'),
        'crehana_button_name': configuration_helpers.get_value('CREHANA_RENAME', 'Crehana')

      }, noWrapper=True
    )
  }


<!--${_('Mandatory Course')} it needs to take a place first, please don't remove.-->
